%div.row
  %div.small-9.columns
    - @auth.stocks.each do |stock|
      %div.row{:id => "stock_#{stock.symbol.upcase}"}
        %div.stock_detail.small-9.columns
          %span.stock_symbol= stock.symbol
          %span.shares= stock.shares
          %span shares purchased at
          %span.purchase_price= number_to_currency stock.purchase_price
          %span.purchase_val= number_to_currency stock.purchase_val
          %span.current_val= number_to_currency stock.current_val
          %span.share_chart= check_box_tag 'checkbox',nil
  %div.large-9.columns